*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
}

.image {
    background-image: url("https://www.softexpert.com/wp-content/webp-express/webp-images/uploads/2023/04/fundo-novo.png.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image img{
   margin: auto; 
   width: 25%; 
}

.titulo-suite,.slogan-suite {
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    width: 100%;
    flex-wrap: wrap;
}

.titulo-suite {
    padding: 30px 0 30px 0;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.container-slogan {
    display: flex;
    justify-content: center
}

.slogan-suite {
    width: 565px;
    line-height: 1.2;
    font-size: 26px;
    text-align: center;
    font-weight: 300;
}

.btn-header1 {
    margin-right: 10px;
    background-color: #DF4B62;
    width: 100%;
}

.btn-header2 {
    background-color: #F80;
    width: 100%;
}
.wpb_wrapper p{
    margin: 1% 0;
}

.btn-header1,.btn-header2 {
    white-space: nowrap;
    padding: 0 15px;
    font-size: 15px;
    height: 2.5rem; 
    cursor: pointer;
    border: 1px solid #707070;
    border-radius: 4px
}

.span-btn-header {
    padding-left: 8px;
    color: #FFF;
    font-weight: 600;
}

.container-btns-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin: 0 auto 30px auto;
}

.blob {
margin-left: 30%;
border: none;
background-color: transparent;
}

.blob.pulse {
    box-shadow: 0 0 0 0 rgba(205, 56, 79, 1);
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
    background-color: #DF4B62;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(205, 56, 79, 1);
    }
    50% {
        box-shadow: 0 0 0 20px rgba(205, 56, 79, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(205, 56, 79, 0);
    }
}

.btn-close{
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
    --bs-btn-close-color: #dfdfdf !important;
}


.sec-1{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;


}

.container-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wpb_wrapper{
    width: 91%;
    display: flex;
    
    flex-direction: column;
    align-items: end;
}

.logo{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 55%;
    min-width: 200px;
}
.image-demo img{
    margin: 10% 0;
}

.sec-2{
    background: url("https://www.softexpert.com/ext/teste-estagio-devweb/quebra-cabecas.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}

.sec-3{
    height: auto;
    display: flex;
    background: rgb(240, 255, 255);
    justify-content: center;
    width: 100%;
    margin: auto;
}
.cubo{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}
.textos{
    width: 50%;
}

.textos img{
    width: 1.2rem;
    height: 1.1rem;
    margin-right: 1%;
}

.textos p{
    display: flex; 
    flex-direction: row;
    margin: 2% 0;
}

.imagem {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.sec-4{
    width: 70%;
    display: flex;
    margin: auto;
  
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion {
    color: #2e2d6d;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  @media (max-width: 768px) {
    .container-section{
        flex-direction: column !important;

    }
    .wpb_wrapper p{
        margin: 5% 0 !important;
    }
    #txt-demo-suite{
        width: 90% !important;
    }
    .container-btns-header{
        flex-wrap: wrap;
    }
    .btn-player-video-suite{
        margin-top: 5%;
        margin-right: 5% !important;
    }
    .sec-3{
        flex-direction: column !important;
    }
    .cubo{
        width: 80% !important;
        margin: 2% auto !important;
    }
    .textos{
        width: 80% !important;
        margin: 2% auto !important;

    }
   .container-btns-header{
        width: 50% !important;
        margin: auto !important;

    }
  }